.home {
    background: linear-gradient(90deg,rgba(100,54,201,.4) 0,hsla(0,100%,73%,.4)),url('../../../public/assets/pizza/pizza-background.jpeg') no-repeat 50%;
    height: 100%;
    background-size: cover;

    position: absolute;
    width: 100%;
    height: fit-content;

    margin-top: 47px !important;
}

.home__title {
    font-family: Quicksand,sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    color: #fff;
}

@media only screen and (min-width: 615px) and (max-width: 915px){
    .home {
        height: 100%;
    }
}