.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
/* .card__button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
} */
.card__address {
    color: grey;
    font-size: 22px;
}
/* .card__button:hover{
    opacity: 0.7;
} */
.card__img {
    /* width:100% */
    height: 187px;
    width: 300px;
}
/* menu */
.card__ingredient {
    display: flex;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    list-style: none;
    min-height: 60px
}

.card__ingredient li::before {
    content: " ✅ ";
    display: inline-block;
    margin-right: 0.2rem;
}

.card__ingredient li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.card__box{
    position: relative;
}
.card__box-category{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
    color: ivory;
    margin: auto;
}

.card__box-rank {
    position: absolute;
    top: 8px;
    right: 16px;

    font-size: 20px;
    color: #ff7575;
}



