.shopping-cart__item {

}
.shopping-cart__item-qty {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
/* icons */
.fa-minus {
    color: brown;
    cursor: pointer;
}
.fa-plus {
    color: dodgerblue;
    cursor: pointer;
}
