.shopping-cart__item-qty {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
/* icons */
.fa-minus {
    color: brown;
    cursor: pointer;
}
.fa-plus {
    color: dodgerblue;
    cursor: pointer;
}
/*Button*/
.button-shoppcart {
    width: fit-content;
    border-radius: 4.5px;
    position: absolute;
    top: 150px;
    left: 150px
}
