.shopping-cart__item-qty {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
/* icons */
.fa-minus {
    color: brown;
    cursor: pointer;
}
.fa-plus {
    color: dodgerblue;
    cursor: pointer;
}
/*Button*/
.button-shoppcart {
    width: fit-content;
    border-radius: 4.5px;
}
.shopping-cart__header .button-shoppcart {
    position: relative;
    top: 15px;
    left: 0px;
}

/* Cart Total */
.shopping-cart__total {
    text-align: right;
    font-size: 18px;
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}