.nav {
    position: fixed;
    width: 100%;
    top: 0px;

    z-index: 10;
}
.nav__wrapper {
    display: flex;
    justify-content: end;
    align-items: center;

    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    background-color: #333;

}
.nav__wrapper li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav__wrapper li a:hover{
    background-color: #111;
}
.nav__wrapper li:last-child{
    display: flex;
    align-items: center;
    gap: 10px
}
.fa-cart {
    color: cornflowerblue;
    font-size: 20px;
}
.nav__wrapper-cart {
    display: flex;
    flex-direction: column;
}
.nav__wrapper-qty {
    color: tomato;
}
.nav__wrapper-price{
    color: white;
}